body {

  margin: 0;
  background: #fdfdfd; 
  color: #333;
  min-width: 500px;
}


header {
  background: #006d77; /* header  config*/
  color: #fff;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-container img {
  width: 80px;
}

nav {
  margin-top: 70px;
  text-align: center;
}

nav a {
  background: #83c5be; 
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

nav a:hover {
  background: #ffd166; /* gold hover over elemnets */
  color: #333;
}


.section-title {
  text-align: center;
  font-size: 30px;
  margin: 10px;
  color: #13abb9;
}


.deals {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.deal-box {
  width: 250px;
  height: 180px;
  border: 2px solid #83c5be;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #edf6f9;
}

.deal-box:hover {
  transform: scale(1.05);
    background: #ffd166; /* gold hover over elemnets */

}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.menu-item {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 3px;
  background: #fff;
  margin: 20px;
 
}

.menu-item img {
  width: 50%;
  border-radius: 8px;
}

.menu-item:hover {
  background: #ffd166; /* gold hover over elemnets  */
    transform: scale(1.05);
}


.contact-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  background: #6ca2a7;
}

form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #006d77;
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
 
}

button:hover {
  background: #e4d127; /* brighter teal */
}

iframe {
  border: 0;
  width: 400px;
  height: 300px;
  border-radius: 8px;
}


footer {
  background: #006d77;
  color: #fff;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}

footer a {
  color: black;
  margin: 10px;
}

footer a:hover {
  color: hsl(52, 92%, 60%);
}